@CHARSET "UTF-8";

div.menu{
	height: 40px;	
	background-color: #ccc;
}

.title{
	float:left;
	font-size:25px;
	font-weight: normal;
	padding-top:5px;
	padding-left:10px;	
}

.line {
	height: 10px;
	background-position: 0px -3px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../images/line.png");
}

.container {
	width: 500px;
	height: 100%;
	margin: 0 auto;
	background-image: url("../images/back.png");
}

#field {
	margin: 0 auto;
	width: 480px;
	height: 500px;
	margin-top: 20px;
	padding-left: 0px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../images/boardborder.png");
}

#field table {
	width: 466px;
	height: 466px;
	/*	background-image: url("../images/board_empty.png"); */
	background-repeat: no-repeat;
}

#fieldb {
	width: 520px;
	height: 540px;
	background-position: -34px -34px;
	background-image: url("../images/boardback.png");
	background-repeat: no-repeat;
}

.starter {
	width: 44px;
	height: 44px;
	margin-left: 4px;
	margin-top: 4px;
	text-align: center;
	color: #fff;
	background-image: url("../images/cellempty.png");
}

#whitesc,#blacksc {
	padding-top: 40px;
	text-align: center;
	font-size: 20px;
}

.starter span {
	padding-top: 20px;
	margin-top: 20px;
	font-size: 25px;
}

.blue,.red {
	background-repeat: no-repeat;
	background-size: 44px 44px;
	border: 0px;
}

.iblue,.ired {
	background-repeat: no-repeat;
	background-size: 25px 25px;
}

.blue,.iblue {
	background-image: url("../images/black.png");
}

.red,.ired {
	background-image: url("../images/white.png");
}

.row2 {
	padding-top: 25px;
}

.row3 {
	padding-top: 20px;
}

#iconGuest.b,#iconHome.b {
	color: #fff;
}

#iconHome.w,#iconGuest.w {
	color: #000;
}

#iconGuest.b,#iconHome.b,#iconHome.w,#iconGuest.w {
	width: 100px; /*50*/
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-position: bottom;
}

#iconGuest.b,#iconHome.b {
	background-image: url("../images/user_black.png");
}

#iconHome.w,#iconGuest.w {
	background-image: url("../images/user_white.png");
}

#iconHome.b.active,#iconGuest.b.active {
	background-image: url("../images/user_black_a.png");
}

#iconGuest.w.active,#iconHome.w.active {
	background-image: url("../images/user_white_a.png");
}

#nameHome,#nameGuest {
	margin-top: 10px;
	width: 120px;
	height: 33px;
	background-repeat: no-repeat;
}

#nameHome {
	background-image: url("../i/spieler1.png");
}

#nameGuest {
	background-image: url("../i/spieler2.png");
}

.round {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* Konqueror */
	border-radius: 10px; /* CSS3 */
}

.col {
	float: left;
}

.clearl {
	clear: left;
}

body {
	background-color: #ffffcc;
	color: #000;
}

#content {
	width: 100%;
	height: 100%;
	position: absolute;
}

#content {
	width: 100%;
}

#game,.home,.guest {
	display: none;
}

.active {
	display: block;
}

.infomsg {
	font-size: 25px;
}

#info {
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	margin-left: -50px;
	margin-top: -50px;
	top: 50%;
	left: 50%;
	visibility: hidden;
}

#overlay {
	background-color: black;
	opacity: 0.4;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

#game_overlay {
	background: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

.dialog {
	width: 80%;
	height: 240px;
	padding: 0px;
	border-radius: 10px;
	border: solid 3px #000;
	background-image: url("../images/back.png");
	background-position: right;
	position: absolute;
	left: 40%;
	top: 50%;
	margin-left: -30%;
	margin-top: -110px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s linear 0.3s, opacity 0.3s,
		-webkit-transform 0.3s;
	transition: visibility 0s linear 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	z-index: 10;
	font-size: 35px;
	text-align: center;
}

.dialog.active {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.dialog .buttons {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	text-align: center;
}

.dialog .buttons button {
	margin-top: 5px;
}

#serverConnect {
	height: 240px;
}

#singleStart {
	height: 320px;
	margin-top: -190px;
	font-weight: bold;
}

#serverName {
	height: 380px;
	margin-top: -190px;
}

#dialogMatchWin,#dialogMatchDefeat,#dialogMatchDraw,#dialogPlayerOff {
	height: 320px;
	margin-top: -180px;
}

.text-h1 {
	font-size: 55px;
}

.text-h2 {
	font-size: 35px;
}

.text-h2-bottom {
	line-height: 10px;
	font-size: 25px;
}

.text-h1-bottom {
	line-height: 10px;
}

.player_name {
	font-size: 25px;
	font-weight: normal;
}

.text-button {
	width: 100%;
	border: 3px solid #000;
	background: url(../i/button.png) repeat-x;
	background-size: 100% 100%;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.text-button {
	padding: 0;
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
	padding: 15px 10px 10px 0px;
	cursor: pointer;
}

.nice-button {
	background: url(../i/button.png) repeat-x;
	background-size: 100% 100%;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.nice-button {
	padding: 0;
	border: 0;
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
	padding: 10px 10px 10px 0px;
	/*
		font-size: 17px;
	font-weight: 900;
	line-height: 30px;
	padding: 0 15px;*/
	cursor: pointer;
}

#statsinfo {
	font-size: 30px;
	font-weight: 900;
}

#progress {
	width: 88%;
	height: 15px;
	border: 2px solid #000;
	overflow: hidden;
	text-align: center;
	margin-left: 6%;
	height: 25px;
}

#progressbar {
	width: 0%;
	height: 25px;
	border-right: 1px solid #000000;
	background: #fff;
}