@(message: String)

@main("Play with us reversi") {

<div class="menu">
		<img alt="" src="/assets/images/option.png" width="45">	
</div>
	
	
     <div class="line"></div>
     
 <div id="nextplayer">

<table border="0" width="100%" align="center">
<tr>
<td>
<div id="iconHome"><div id="whitesc">1</div></div>

</td>
<td align="center" class="infomsg">
N&auml;chster Zug: <div id="nextmove" class="starter blue"></div>
</td>
<td align="right">
<div id="iconGuest"><div id="blacksc">1</div></div>

</td>
</tr>
<tr>
<td><span id="player_name_home" class="player_name">Spieler #1</span></td>
<td>&nbsp;</td>
<td align="right"><span id="player_name_guest" class="player_name">Spieler #2</span></td>
</tr>
<tr>
</tr>
</table>

</div>

	
	<div id="field" class="well">
	
	
<table border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td><div id="sq1x1" onclick="clickat(1,1);" class="starter"></div></td>
<td><div id="sq1x2" onclick="clickat(1,2);" class="starter"></div></td>
<td><div id="sq1x3" onclick="clickat(1,3);" class="starter"></div></td>
<td><div id="sq1x4" onclick="clickat(1,4);" class="starter"></div></td>
<td><div id="sq1x5" onclick="clickat(1,5);" class="starter"></div></td>
<td><div id="sq1x6" onclick="clickat(1,6);" class="starter"></div></td>
<td><div id="sq1x7" onclick="clickat(1,7);" class="starter"></div></td>
<td><div id="sq1x8" onclick="clickat(1,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq2x1" onclick="clickat(2,1);" class="starter"></div></td>
<td><div id="sq2x2" onclick="clickat(2,2);" class="starter"></div></td>
<td><div id="sq2x3" onclick="clickat(2,3);" class="starter"></div></td>
<td><div id="sq2x4" onclick="clickat(2,4);" class="starter"></div></td>
<td><div id="sq2x5" onclick="clickat(2,5);" class="starter"></div></td>
<td><div id="sq2x6" onclick="clickat(2,6);" class="starter"></div></td>
<td><div id="sq2x7" onclick="clickat(2,7);" class="starter"></div></td>
<td><div id="sq2x8" onclick="clickat(2,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq3x1" onclick="clickat(3,1);" class="starter"></div></td>
<td><div id="sq3x2" onclick="clickat(3,2);" class="starter"></div></td>
<td><div id="sq3x3" onclick="clickat(3,3);" class="starter"></div></td>
<td><div id="sq3x4" onclick="clickat(3,4);" class="starter"></div></td>
<td><div id="sq3x5" onclick="clickat(3,5);" class="starter"></div></td>
<td><div id="sq3x6" onclick="clickat(3,6);" class="starter"></div></td>
<td><div id="sq3x7" onclick="clickat(3,7);" class="starter"></div></td>
<td><div id="sq3x8" onclick="clickat(3,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq4x1" onclick="clickat(4,1);" class="starter"></div></td>
<td><div id="sq4x2" onclick="clickat(4,2);" class="starter"></div></td>
<td><div id="sq4x3" onclick="clickat(4,3);" class="starter"></div></td>
<td><div id="sq4x4" onclick="clickat(4,4);" class="starter"></div></td>
<td><div id="sq4x5" onclick="clickat(4,5);" class="starter"></div></td>
<td><div id="sq4x6" onclick="clickat(4,6);" class="starter"></div></td>
<td><div id="sq4x7" onclick="clickat(4,7);" class="starter"></div></td>
<td><div id="sq4x8" onclick="clickat(4,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq5x1" onclick="clickat(5,1);" class="starter"></div></td>
<td><div id="sq5x2" onclick="clickat(5,2);" class="starter"></div></td>
<td><div id="sq5x3" onclick="clickat(5,3);" class="starter"></div></td>
<td><div id="sq5x4" onclick="clickat(5,4);" class="starter"></div></td>
<td><div id="sq5x5" onclick="clickat(5,5);" class="starter"></div></td>
<td><div id="sq5x6" onclick="clickat(5,6);" class="starter"></div></td>
<td><div id="sq5x7" onclick="clickat(5,7);" class="starter"></div></td>
<td><div id="sq5x8" onclick="clickat(5,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq6x1" onclick="clickat(6,1);" class="starter"></div></td>
<td><div id="sq6x2" onclick="clickat(6,2);" class="starter"></div></td>
<td><div id="sq6x3" onclick="clickat(6,3);" class="starter"></div></td>
<td><div id="sq6x4" onclick="clickat(6,4);" class="starter"></div></td>
<td><div id="sq6x5" onclick="clickat(6,5);" class="starter"></div></td>
<td><div id="sq6x6" onclick="clickat(6,6);" class="starter"></div></td>
<td><div id="sq6x7" onclick="clickat(6,7);" class="starter"></div></td>
<td><div id="sq6x8" onclick="clickat(6,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq7x1" onclick="clickat(7,1);" class="starter"></div></td>
<td><div id="sq7x2" onclick="clickat(7,2);" class="starter"></div></td>
<td><div id="sq7x3" onclick="clickat(7,3);" class="starter"></div></td>
<td><div id="sq7x4" onclick="clickat(7,4);" class="starter"></div></td>
<td><div id="sq7x5" onclick="clickat(7,5);" class="starter"></div></td>
<td><div id="sq7x6" onclick="clickat(7,6);" class="starter"></div></td>
<td><div id="sq7x7" onclick="clickat(7,7);" class="starter"></div></td>
<td><div id="sq7x8" onclick="clickat(7,8);" class="starter"></div></td>
</tr><tr>
<td><div id="sq8x1" onclick="clickat(8,1);" class="starter"></div></td>
<td><div id="sq8x2" onclick="clickat(8,2);" class="starter"></div></td>
<td><div id="sq8x3" onclick="clickat(8,3);" class="starter"></div></td>
<td><div id="sq8x4" onclick="clickat(8,4);" class="starter"></div></td>
<td><div id="sq8x5" onclick="clickat(8,5);" class="starter"></div></td>
<td><div id="sq8x6" onclick="clickat(8,6);" class="starter"></div></td>
<td><div id="sq8x7" onclick="clickat(8,7);" class="starter"></div></td>
<td><div id="sq8x8" onclick="clickat(8,8);" class="starter"></div></td>
</tr></table>
	
	
    </div>

}
